# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
chap-arena

# Folders
_obj
_test
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.db
*.db-journal
*.out
.DS_Store

# Published UI mocks
*_mocks.html

# Records which database file to open
chap-arena.json
