{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

Base template used by every page to include common resources and render the top bar.
*/}}
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}} - {{.EventSettings.Name}} - Chap Arena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/css/chap-arena.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a class="brand" href="/">Chap Arena</a>
      <a href="/">Stations</a>
      <a href="/setup/settings">Settings</a>
      <span class="event-name">{{.EventSettings.Name}}</span>
    </nav>
    <main>
      {{template "body" .}}
    </main>
    {{template "script" .}}
  </body>
</html>
{{end}}
