{{/*
Copyright 2018 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)
*/}}
{{define "title"}}Log In{{end}}
{{define "body"}}
<form method="POST">
  {{if .ErrorMessage}}<p class="error">{{.ErrorMessage}}</p>{{end}}
  <div class="sechead">Log in</div>
  <div class="row"><span class="k">Username</span><input class="text" type="text" name="username" value="admin"></div>
  <div class="row"><span class="k">Password</span><input class="text" type="password" name="password" autofocus></div>
  <div class="applybar"><button class="apply" type="submit">Log In</button></div>
</form>
{{end}}
{{define "script"}}{{end}}
